h1 {
    text-align: center;
}

table {
    margin: auto;
    border-collapse: collapse;
}

td {
    width: 100px;
    height: 100px;
}

tr:nth-of-type(2) {
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}

td:nth-of-type(2) {
    border-left: 2px solid gray;
    border-right: 2px solid gray;
}
